@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  letter-spacing: -1px;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  letter-spacing: -3px;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  letter-spacing: -5px;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  letter-spacing: -6px;
}


@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  letter-spacing: -8px;
}
