.intro-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */

}

.intro-nametag {
  color: var(--name-color);
  font-weight: 300;
  opacity: 0;
  transform: translateY(20px);
  animation: slideFadeInHeader 1.3s ease-out forwards;
  margin-bottom: 30px;
}

.intro-paragraph-1 {
  /* padding: min(2em, 8%); */
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  opacity: 0;
  transform: translateY(20px);
  animation: slideFadeInBody 1.3s ease-out forwards;
  margin-bottom: 30px;
}

.intro-paragraph-2 {
  font-size: 15px;
}

.background-text {
  color: var(--grey-font-color);
}

.school-link {
  border: 3px solid #000;
  border-radius: 8px;
  padding: 4px 2px;
  display: inline;
  color: var(--primary-color);
  text-decoration: none;
  transition: background-color 0.3s ease, text-decoration 0.2s ease;
}

.school-link:hover {
  background-color: #fff;
  color: #000;
  text-decoration: underline;
}

@keyframes slideFadeInBody {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFadeInHeader{
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.intro-list {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  list-style: disc;
  padding-left: 1rem;
  margin: 0;
  font-weight: 300;
}

.intro-list li {
  display: list-item;
  font-weight: 300;
}

.intro-list li:not(:last-child) {
  margin-bottom: 0.5rem;
}
