.projects-container-div {
  padding-top: 10px;
}

.projects-section-header {
  font-weight: 300;
  font-size: 20px;
  margin: 10px;
}

.proj-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}


.square {
  aspect-ratio: 1 / 1;
  background-color: #4caf50;
  border: 1px solid #333;
}

@media (max-width: 360px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .square {
    width: 50%;
    margin: 0 auto;
  }
}
