.item-outer-container {
  border-radius: 7px;
  border: 1px solid;
}

.orange-item {
  background-color: #fbf1e7;
  border-color: #fca131;
}

.red-item {
  border-color: red;
}

.item-title-container {
  display: inline-flex;
  width: 100%;
  max-height: 40x;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.item-title-container:focus{
  outline: 2px solid black;
  outline-offset: 2px;
}

.item-title {
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  min-width: 100px;
  padding: 6px 0px;
  width: max-content;
}

.item-title-orange {
  background-color: #fca131;
}

.item-title-path {
  font-family: monospace;
  color: #3b4151;
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
}

.item-title-description {
  font-size: 13px;
  font-family: sans-serif;
  text-align: center;
}

.item-content {
  border-top: 1px solid;
}

.red-item-content {
  border-color: red;
}

.orange-item-content {
  border-color: #fca131;
}

.section-expanded-arrows {
  margin-left: auto;
  max-height: 20px;
  max-width: 20px;
}

.unlocked-icon {
  max-width: 15px;
  max-height: 20px;
  margin: 0px 5px;
}