.item-outer-container {
  --off-white-background: #fefcfb;
  border-radius: 7px;
  border: 1px solid;
  margin-bottom: 10px;
}

.orange-item {
  background-color: #fbf1e7;
  border-color: #fca131;
}

.red-item {
  border-color: red;
}

.item-title-container {
  display: inline-flex;
  width: 100%;
  max-height: 40x;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.item-title-container:focus{
  outline: 2px solid black;
  outline-offset: 2px;
}

.item-title {
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  min-width: 100px;
  padding: 6px 0px;
  width: max-content;
}

.item-title-orange {
  background-color: #fca131;
}

.item-title-path {
  font-family: monospace;
  color: #3b4151;
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
}

.item-title-description {
  font-size: 13px;
  font-family: sans-serif;
  text-align: center;
}

.item-content {
  border-top: 1px solid;
  padding: 2px;
}

.red-item-content {
  border-color: red;
}

.orange-item-content {
  border-color: #fca131;
}

.item-content-top-text {
  padding: 30px 20px;
}

.item-content-title-container {
  display: flex;
  width: 100%;
  background-color: #fefcfb;
  padding: 15px 20px;
}

.item-content-title-container-orange {
  box-shadow: 0 1px var(--off-white-background);
}


.item-content-title-container-green {
  box-shadow: 0 1px var(--off-white-background);
}

.item-content-underlined-text-container {
  position: relative;
  width: max-content;
  margin: 0 40px 0 0;
}

.item-content-underlined-text {
  width: max-content;
  color: #3b4151;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.item-content-underlined-text::after {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  bottom: -10px;
  height: 4px;
  background: #fca131;
}

.item-content-underlined-text-orange::after {
  background: #fca131;
}

.item-content-overview-description {
  padding: 20px;
}

.item-content-body-header-container {
  width: 100%;
  display: inline-flex;
  padding: 0 15px 0 20px;
  min-height: 55px;
  align-items: center;
  background-color: var(--off-white-background);
  color: #3b4151;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.mediatype-select {
  min-height: 30px;
  min-width: 300px;
  padding: 2px 5px 2px 5px;
  border: 2px solid #3b4151;
  border-radius: 5px;
  margin-left: auto;
}

.item-content-container {
  padding: 40px 20px;
}

.item-content-body-title {
  padding-bottom: 8px;
}

.item-content-body-label {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.item-content-body-json {
  min-width: 100%;
  display: block;
  border-radius: 5px;
}

.json-content-code{
  width: 100%;
  color: white;
  background-color: #3b4151;
}

.section-expanded-arrows {
  margin-left: auto;
  /* margin-right: 0; */
  max-height: 20px;
  max-width: 20px;
}

.unlocked-icon {
  max-width: 15px;
  max-height: 20px;
  margin: 0px 5px;
}