.schemas-section-container-div {
  --schema-border-color: #3b4151;
  --schemas-title-text-color: #606060;
  --schema-title-text-color: #505050;
  --hover-color: #f0f0f0;
  --inner-header-side-padding: 10px;
  --inner-element-side-padding-base: 20px;
  border: 0.5px solid var(--schema-border-color);
  border-radius: 3px;
}

.schemas-section-header {
  display: flex;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.15;
  color: var(--schemas-title-text-color);
  width: 100%;
  border-bottom: 0.5px solid var(--schema-border-color);
  padding-left: var(--inner-header-side-padding);
  padding-right: var(--inner-header-side-padding);
  padding-top: 10px;
  padding-bottom: 10px;
}
.schemas-section-header:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.schemas-container {
  padding-left: var(--inner-element-side-padding-base);
  padding-right: var(--inner-element-side-padding-base);
}