body {
  /* margin: 40px; */
  background-color: #FCF6F5;
  color: #FCF6F5;
  /* original blue */
  /* color: #006FE2;  */
  /* burnt orange */
  /* color: #CC5500;  */
  /* neon orange */
  /* color: #FF5F1F; */
  /* pumpkin orange */
  /* color: #FF7518; */
  /* blaze orange */
  color: #FF6000;
  /* dark purple */
  /* color: #212B6F; */
}

.container {
  display: flex;
}

.main-content {
  padding-top: var(--navbar-height);
}