
nav {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--hover-color);
}

ul {
  list-style: none;
  display: flex;
}

nav .home-li {
  margin-right: auto;
}

nav a {
  display: flex;
  text-decoration: none;
  color: var(--primary-color);
  padding: 1em 2em;
  transition: background-color 150ms ease;
}

nav a:hover {
  background-color: var(--hover-color);
}
