/* .navbar {
  color: #FCF6F5;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10000;
  border-bottom-style: solid;
  border-bottom-width: 100%;


} */

.navbar {
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  /* color: #FCF6F5; */
  /* background-color: #006fe2; */
  border-bottom: 1px solid;
  border-bottom-color: rgba(252, 246, 245, 0.15);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}