.container {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* color settings */
  --primary-color: #FFFFFF;
  --secondary-color: #c0c2c9;
  --name-color: #FF8905;
  --grey-font-color: #9f9f9f;
  --primary-bg-color: #000000;
  --hover-color: #222222;
  font-family: 'Inter', sans-serif;
  --navbar-height: clamp(6vh, 4vh, 100px);
  /* --speed: 200ms; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  min-width: 100dvh;
  justify-content: center;
  align-items: center;
  background-color: (--primary-bg-color);
}

main {
  padding: min(5em, 7%);
}

main p {
  margin-top: .35em;
}

h1 {
  font-weight: 700;
}

.light-text {
  font-weight: 300;
}

.black-heading {
  font-weight: 900;
}