.opblock {
  align-items: center;
  border-bottom: 1px solid rgba(59, 65, 81, .3);
  width: 100%;
  display: inline-block;
  padding: 10px 20px 10px 10px;
  transition: all .2s;
}

.section-header-div {
  cursor: pointer;  
  margin: 10px auto;
  max-width: 1500px;
  display: inline-flex;
  width: 100%;
}

.section-header-div :hover {
  background-color: #f5f5f5;
}

.section-header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  color: #3b4151;
  font-family: sans-serif;
  font-size: 24px;
  padding: 15px 0;
  font-weight: bold;
  border-bottom: 1px solid #bdbfc3;
}

.section-header-a {
  padding-left: 10px;
  margin-right: 15px;
  align-items: flex-start;
}

.section-description {
  margin-right: auto;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.section-expanded-arrows {
  margin-left: auto;
  max-height: 20px;
  max-width: 20px;
  margin-right: 10px;
}

.menu-button {
  cursor: pointer;
  user-select: none;
  padding: 10px;
  background: #4990e2;
  color: white;
  width: 120px;
}
