.header-nav {
  --nav-background-color: #1b1b1b;
  /* border: 3px solid yellow; */
  background-color: var(--nav-background-color);
  padding: 10px 0;
  display: block;
  --children-hover-color: grey;
  align-items: center;
  justify-content: center;
}

.header-nav .dark-mode {
  --children-hover-color: grey;
}

.wrapper {
  max-width: 1460px;
  /* max-height */
  margin: 0 auto;
}

.header-nav-wrapper {
  display: flex;
  align-items: center;
  box-sizing: inherit;
}

.svg-logo-white {
  margin-right: 10px;
  max-height: 40px;
  max-width: 200px;
}

.search-bar-form {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  height: 40x;
  border-radius: 5%;
  width: max-content;
}

.search-bar-form-input {
  background-color: white;
  max-height: 40px;
  width: 100%;
  flex: 1;
  min-width: 100px;
  width: 60vw;
  padding: 8px 10px;
  border: 2px solid #62a03f;
}

.search-bar-form-button {
  flex-shrink: 0;
  white-space: nowrap;
  background-color: #62a03f;
  color: white;
  padding: 4px 30px; 
  height: 40px;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

