.header-nav {
  border: 3px solid yellow;
  display: flex;

  --children-hover-color: grey;
  align-items: center;
  justify-content: center;
}

.header-nav .dark-mode {
  --children-hover-color: grey;
}


