.project-component-card {
  display: grid;
  grid-template-columns: repeat(4, 185px);
  grid-template-rows: repeat(4, 100px);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  column-gap: 10px;
  border: 1px solid #fff;
  border-radius: 8px;
}

.title-bar {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 4%;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.tech-stack {
  color: var(--grey-font-color);
  font-weight: 300;
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}

.project-details {
  font-weight: 300;
  grid-column: 2 / 5;
  grid-row: 2 / 5;   
}
