.project-component-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  padding-bottom: 5px;
  column-gap: 10px;
  border: 1px solid #fff;
  border-radius: 8px;
}

.title-bar {
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  font-weight: 300;
  font-size: 35px;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px double #ffffff;
}


.project-link {
  border: 3px solid #000;
  border-radius: 8px;
  padding: 4px 2px;
  display: inline;
  color: var(--primary-color);
  text-decoration: none;
  transition: background-color 0.3s ease, text-decoration 0.2s ease;
}

.project-link:hover {
  background-color: #fff;
  color: #000;
  text-decoration: underline;
}

.tech-stack {
  /* padding-left: 10px;
  padding-top: 10px; */
  color: var(--grey-font-color);
  /* font-weight: 300; */
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.tech-stack-icon {
  height: 10px;
  width: 10px;
}

.project-details {
  text-align: justify;
  padding: 20px;
  font-weight: 300;
  grid-column: 2 / 4;
  grid-row: 2 / 3;   
}
