body {
  align-items: center;
  justify-content: center;
}

.home-div {
  max-width: 800px;
  align-items: center;
  justify-content: center;
}

.intro-section {
  border-bottom: 1px solid grey;
  border-radius: 8px;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.experience-section {
  border-bottom: 1px solid grey;
  border-radius: 8px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.projects-section {
  border-bottom: 1px solid grey;
  border-radius: 8px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about-section {
  border-bottom: 1px solid grey;
  border-radius: 8px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact-section {
  border-bottom: 1px solid grey;
  border-radius: 8px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
