/* .slide-fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: slideFadeIn 0.8s ease-out forwards;
}

@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

body {
  align-items: center;
  justify-content: center;
}

.home-div {

  /* min-width: 30vw; */
  max-width: 800px;
  align-items: center;
  justify-content: center;
}

.intro-section {
  border-bottom: 1px solid grey;
  border-radius: 8px;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.experience-section {
  border-bottom: 1px solid grey;
  /* border: 1px solid white; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 8px;
}

